body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1em 5%;
}

.header-icon {
    height: 50px;
    width: auto;
    margin-right: 1em;
}

.header-left h1 {
    margin: 0;
}

.header-right nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-right nav ul li {
    margin-left: 1em;
}

.header-right nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    width: 100%;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

main {
    padding: 1em 5%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 5%;
    position: fixed;
    width: calc(100% - 10%);
    bottom: 0;
}
